/build/
/.gradle/
/run/
/logs/
/config/
/crash-reports/
/saves/
/screenshots/
/assets/
/libraries/
/versions/
/.idea/
/.settings/
/.metadata/
.classpath
.project
/out/
/bin/
/eclipse/
*.launch
*.ipr
*.iws
*.iml
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
.env
.env.*
*.key
*.pem
launcher_accounts.json
launcher_profiles.json
accounts.json
server.properties
usercache.json
client-appearance.dat
