# EntityPlayer
public net.minecraft.entity.player.EntityPlayer field_71083_bS # sleeping
# EntityArrow
public net.minecraft.entity.projectile.EntityArrow field_70254_i # inGround
public net.minecraft.entity.projectile.EntityArrow field_184552_b # timeInGround
# RenderLivingBase
public net.minecraft.client.renderer.entity.RenderLivingBase field_177096_e # TEXTURE_BRIGHTNESS
